.left, .right {
  width : 50%;
  display: inline-block;
}

@media(max-width: 400px) {
  .admin_container {
    overflow: hidden;
    margin-top: 67px;
    .admin_right {
      overflow-x: scroll;
    }
  }
  .MuiTableCell-head, .MuiTableCell-body {
    padding: 6px 8px !important;
    font-size: 10px !important;

  }
}
